{{template "header" .}}
{{if .message}}
<div class="row">
  <div class="large-12 columns error-message">
    {{.message}}
  </div>
</div>
{{end}}
<form action="/admin/products/add" method="post">
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="title" name="title"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="text" name="text"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="price" name="price"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="quantity" name="quantity"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input class="small radius button" type="submit" value="add product">
    </div>
  </div>
</form>
<div class="row">
  <div class="large-12 columns">
    <table style="width: 100%">
      <thead>
        <tr>
          <th>title</th>
          <th>text</th>
          <th>price</th>
          <th>quantity</th>
        </tr>
      </thead>
      <tbody>
        {{range $h := .levels}}
        <tr>
          <td>{{$h.title}}</td>
          <td>{{$h.text}}</td>
          <td>{{$h.price}}</td>
          <td>{{$h.quantity}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
{{template "footer" .}}
