{{template "header" .}}
<form action="/admin/login" method="post" autocomplete="off">
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="login" name="admin_login" value="{{.admin_login}}"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="password" name="password"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input class="small radius button" type="submit" value="login"></input>
    </div>
  </div>
</form>
{{template "footer" .}}
