<html>
  {{template "header" .}}
  <div class="row">
    <div class="large-12 columns">
      <table style="width: 100%">
        <thead>
          <tr>
            <th>login</th>
            <th>password</th>
            <th>name1</th>
            <th>name2</th>
            <th>surname</th>
          </tr>
        </thead>
        <tbody>
          {{range $h := .levels}}
          <tr>
            <td>{{$h.login}}</td>
            <td>{{$h.password}}</td>
            <td>{{$h.name1}}</td>
            <td>{{$h.name2}}</td>
            <td>{{$h.surname}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
  {{template "footer" .}}
</html>
