{{template "header" .}}

{{if .message_info}}
<div class="row">
  <div class="large-12 columns">
    <div class="message-info">
      {{range .message_info}}
      <p>{{.}}</p>
      {{end}}
    </div>
  </div>
</div>
{{end}}

{{if .message_error}}
<div class="row">
  <div class="large-12 columns">
    <div class="message-error">
        {{range .message_error}}
        <p>{{.}}</p>
        {{end}}
    </div>
  </div>
</div>
{{end}}

<form action="/admin/products" method="post">
  <input type="hidden" value="yes" name="sent"></input>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="title" name="title" value="{{.fVals.title}}"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="description" name="description" value="{{.fVals.description}}"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="price" name="price" value="{{.fVals.price}}"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="quantity" name="quantity" value="{{.fVals.quantity}}"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input class="small radius button" type="submit" value="add product">
    </div>
  </div>
</form>
<div class="row">
  <div class="large-12 columns">
    <table style="width: 100%">
      <thead>
        <tr>
          <th>title</th>
          <th>description</th>
          <th>price</th>
          <th>quantity</th>
        </tr>
      </thead>
      <tbody>
        {{range $h := .levels}}
        <tr>
          <td>{{$h.title}}</td>
          <td>{{$h.description}}</td>
          <td>{{$h.price}}</td>
          <td>{{$h.quantity}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
{{template "footer" .}}
