{{define "bar"}}
<ul class="title-area">
  <li class="name"><h1><a href="/">Super Shop</a></h1></li>
  <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
</ul>

<section class="top-bar-section">
  <ul class="right">
    <li class="divider"></li>
    {{if .admin_login}}
    <li><a href="/admin">{{.admin_login}}</a></li>
    <li><a href="/admin/logout">logout</a></li>
    {{else}}
    <li><a href="/admin/login">login</a></li>
    {{end}}
  </ul>

  <ul class="left">
    <li><a href="/admin/products">products</a></li>
    <li><a href="/admin/users">users</a></li>
    <li><a href="/admin/orders">orders</a></li>
  </ul>
</section>
{{end}}
