{{define "header"}}
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<html>
  <head lang="pl">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title dir="ltr">{{.Header}} - shop</title>

    <!-- foundation -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/foundation/css/normalize.css">
    <link rel="stylesheet" href="/static/foundation/css/foundation.css" />
    <script src="/static/foundation/js/vendor/modernizr.js"></script>
    <!-- /foundation -->

  </head>
  <body>
  {{template "bar" .}}
{{end}}
