<html>
  {{template "header" .}}
  <div class="row">
    <div class="large-12 columns">
      <table style="width: 100%">
        <thead>
          <tr>
            <th>title</th>
            <th>text</th>
            <th>price</th>
            <th>quantity</th>
          </tr>
        </thead>
        <tbody>
          {{range $h := .levels}}
          <tr>
            <td>{{$h.title}}</td>
            <td>{{$h.text}}</td>
            <td>{{$h.price}}</td>
            <td>{{$h.quantity}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
  {{template "footer" .}}
</html>
