{{template "header" .}}
<form action="/register" method="post">
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="login" name="login" value="{{.login}}"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="password" name="password"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="retype password" name="repassword"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="name1" name="name1" value="{{.name1}}"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="name2" name="name2" value="{{.name2}}"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input type="text" placeholder="surname" name="surname" value="{{.surname}}"></input>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <input class="small radius button" type="submit" value="register"></input>
    </div>
  </div>
</form>
{{template "footer" .}}
