<html>
  {{template "header" .}}
  <form action="/users/add" method="post">
    <table>
      <tr>
        <td>name1</td>
        <td><input type=text size=30 name=name1></td>
      </tr>
      <tr>
        <td>name2</td>
        <td><input type=text size=30 name=name2></td>
      </tr>
      <tr>
        <td>surname</td>
        <td><input type=text size=30 name=surname></td>
      </tr>
      <tr>
        <td colspan="2"><input type=submit value="add user"></td>
      </tr>
    </table>
  </form>
  <table>
    <thead>
      <tr>
        <th>name1</th>
        <th>name2</th>
        <th>surname</th>
      </tr>
    </thead>
    <tbody>
      {{range $h := .levels}}
        <tr>
          <td>{{$h.name1}}</td>
          <td>{{$h.name2}}</td>
          <td>{{$h.surname}}</td>
        </tr>
      {{end}}
    </tbody>
  </table>
  {{template "footer" .}}
</html>
